<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規登録フォーム</title>
     <link rel="stylesheet" href="registration.css">
     </head>
<body class="form-signin w-100 m-auto">
	<header>
    <h1>得点管理システム</h1>
	</header>
	
	<div class="sidebar" th:fragment="sidebar">
    <!-- Sidebar content goes here -->
    <ul>
		<li><a href="">メニュー</a></li>
        <li><a href="#">学生管理</a></li>
        <li><a href="#">成績管理</a></li>
        <li><a href="#">成績登録</a></li>
        <li><a href="#">成績参照</a></li>
        <li><a href="#">科目管理</a></li>
    </ul>
</div>

<form th:action="@{/registration}" method="post" enctype="application/x-www-form-urlencoded">
<h1>学生情報登録</h1>
<label for="entYear">入学年度:</label><br>
<select id="entYear" name="entYear" required>
    <option value=""></option>
    <option value="2022">2022年</option>
    <option value="2023">2023年</option>
    <option value="2024">2024年</option>
    <!-- 他の年度のオプションを追加する場合はここに追加 -->
</select><br><br>
        
        <br><label for="no">学生番号:</label><br>
        <input type="no" id="no" name="no" required><br><br>
        
        <br><label for="name">学生名:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        
        <br><label for="classNum">クラス:</label><br>
        <select id="classNum" name="classNum" required><br><br>
        <option value=""></option>
    <option value="101">101</option>
    <option value="201">201</option>
    <option value="301">301</option>
    </select><br><br>
                 
        <br><input type="submit" value="登録する">
    </form>
    <p><a href="/view/registration">戻る</a></p>
    <p th:if="${errorMessage}" th:text="${errorMessage}"></p>
    
    <footer>
    <p>&copy; 2023 TIC</p>
    <p>大原学園</p>
</footer>
    
    
</body>
</html>
